.hidden {
  display: none; }

a:hover {
  text-decoration: none; }

.mdl-layout__drawer .mdl-navigation .active_nav {
  background-color: #e0e0e0;
  color: #f44336; }

.mdl-navigation__devider {
  height: 1px;
  width: 100%;
  background-color: #e0e0e0;
  margin-top: 3px;
  margin-bottom: 3px; }

.main_heading {
  text-align: center;
  width: 100%; }

.review,
.items_more_statistic_block,
.articles_more_statistic_block {
  width: 100%;
  padding-bottom: 30px; }

.title {
  text-align: center; }

.items,
.articles {
  width: 50%;
  float: left; }
  .items.only,
  .articles.only {
    width: 100%; }
  .items .mdl-button,
  .articles .mdl-button {
    display: table;
    margin: auto; }

.graph {
  display: table;
  margin: auto; }

.items_more_statistic_block,
.articles_more_statistic_block {
  display: none; }

.mdl-menu__item a {
  color: rgba(0, 0, 0, 0.87); }

.one_graph {
  width: 50%;
  float: left; }
  .one_graph a {
    display: table;
    margin: auto; }
    .one_graph a:hover {
      text-decoration: none; }

.mdl-list__item-secondary-action:focus {
  outline: none; }

.page_heading {
  width: 100%; }

.latest_orders {
  padding-left: 20px;
  padding-right: 20px; }

.card-orders {
  float: left;
  margin-bottom: 30px;
  width: 45%;
  margin-left: 2.5%;
  margin-right: 2.5%; }
  .card-orders .mdl-card__supporting-text {
    width: 100%; }
    .card-orders .mdl-card__supporting-text table {
      width: 100%; }
  .card-orders .delete_btn {
    float: right; }

.notification_icon {
  font-size: 48px; }

.one_notification {
  width: 15%;
  margin-left: .8%;
  margin-right: .8%;
  position: relative;
  margin-bottom: 30px;
  float: left; }
  .one_notification .content {
    display: table;
    margin: auto;
    color: rgba(0, 0, 0, 0.54);
    font-size: 1rem;
    line-height: 18px;
    overflow: hidden;
    padding: 16px; }
    .one_notification .content .full_block {
      width: 100%;
      float: left; }
  .one_notification .mdl-card__supporting-text {
    width: auto; }
  .one_notification .mdl-badge {
    float: left; }

footer {
  padding: 30px 20px;
  text-align: center;
  color: #9e9e9e;
  background-color: #424242; }
  footer p {
    margin-bottom: 0; }

.new_admins_list {
  padding: 20px 30px; }
  .new_admins_list--users {
    font-size: 14px; }
    .new_admins_list--users .admin-card {
      width: 45%;
      margin-left: 2.5%;
      margin-right: 2.5%;
      float: left; }
  .new_admins_list--items {
    padding: 20px 20px; }

.admin-card {
  width: 30%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  float: left;
  margin-bottom: 40px; }
  .admin-card .mdl-card__supporting-text {
    display: table;
    margin: auto; }
    .admin-card .mdl-card__supporting-text table {
      width: 100%; }
  .admin-card--articles {
    min-height: 350px; }

.new_orders_list {
  padding: 20px 30px; }
  .new_orders_list .card-orders {
    float: left;
    margin-bottom: 30px;
    width: 30%;
    margin-left: 1.5%;
    margin-right: 1.5%; }
    .new_orders_list .card-orders .mdl-card__supporting-text {
      width: 100%; }
      .new_orders_list .card-orders .mdl-card__supporting-text table {
        width: 100%; }
    .new_orders_list .card-orders .delete_btn {
      float: right; }

.admin_article_img_container {
  height: 150px;
  width: 100%; }

.admin_article_min_img {
  max-width: 100%;
  max-height: 150px;
  display: inline-block;
  vertical-align: middle;
  display: table;
  margin: auto; }

.admin_article_heading {
  width: 100%;
  float: left;
  display: block;
  font-size: 16px;
  color: inherit;
  text-align: center; }

.page-content .main_content {
  width: 950px;
  display: table;
  margin: auto; }
  .page-content .main_content .universal_heading {
    color: #f44336; }
  .page-content .main_content .catalog_subheading {
    background-color: #f44336;
    border-color: #f44336; }
  .page-content .main_content .catalog_hr {
    width: 99.8%;
    border-color: #f44336; }
  .page-content .main_content .catalog_categoies .catalog_category {
    width: 48%; }

.admin_uni_heading {
  font-size: 24px;
  color: #f44336;
  margin-left: 25px; }

.head_right {
  float: right;
  margin-right: 25px; }

.admin_producer_one_form {
  width: 100%; }

.item_selected_checkbox {
  margin-top: 10px;
  margin-left: 10px;
  float: left;
  width: auto; }

.admin_item_menu_trigger {
  float: right;
  margin-top: 5px; }

.selected_quantity_fixed_main {
  height: 45px; }

.selected_quantity_fixed {
  background-color: #ffab40;
  padding: 5px 20px;
  box-shadow: 2px 3px 7px #757171; }
  .selected_quantity_fixed .affix {
    top: 0px;
    z-index: 1000; }
  .selected_quantity_fixed .selected_quantity {
    color: #fff;
    font-size: 18px;
    font-weight: bold; }

.form-control {
  display: inline-block;
  width: auto; }

.admin_items_quantity {
  color: #fff;
  font-size: 18px;
  font-weight: bold; }

/*FOOTER_FIXED*/
.admin_items_footer_main {
  box-shadow: 2px 3px 7px #757171;
  margin: auto;
  margin-bottom: 30px; }

.admin_items_footer {
  background-color: #ffab40;
  padding: 15px 40px 35px 35px; }

.admin_main_content_items {
  margin-bottom: 0px; }

.selected_quantity {
  color: #fff;
  font-size: 18px;
  font-weight: bold; }

.change_items_buttons_second, .change_items_buttons_first {
  border: 1px solid #d97a00;
  padding: 15px 18px; }

.change_items_buttons_first {
  margin-bottom: 25px; }

.admin_items_footer a {
  width: 25%;
  margin-right: 40px; }

.modal-footer {
  border: none; }

.admin_select_category_div,
.admin_select_title_div {
  width: 100%;
  margin-bottom: 20px;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.04em; }
  .admin_select_category_div label,
  .admin_select_category_div select,
  .admin_select_title_div label,
  .admin_select_title_div select {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.04em; }
  .admin_select_category_div .label_block,
  .admin_select_title_div .label_block {
    width: 20%;
    float: left;
    margin-top: 11px; }

#addToPdf .form-control {
  width: 100%;
  margin-top: 20px; }

.admin_items_buttons a.mdl-menu__item:hover {
  color: inherit; }

.admin_main_content--change-item {
  padding: 20px; }

.mdl-textfield__label:after {
  bottom: 15px; }

.admin_main_content--change-item .admin_uni_label {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.04em; }
  .admin_main_content--change-item .admin_uni_label--subheading {
    font-size: 18px;
    width: 50%; }
.admin_main_content--change-item form {
  width: 100%; }
.admin_main_content--change-item .one_row {
  width: 100%;
  display: block;
  overflow: hidden; }

.change_item_title_block .mdl-textfield {
  width: 100%; }

.change_item_code_block,
.change_item_price_div,
.change_item_cur_div,
.change_item_procurement_div {
  float: left;
  margin-right: 120px; }

.change_item_procurement_div {
  margin-left: 0; }

.change_item_procurement_div .mdl-textfield,
.change_item_cur_div .mdl-textfield {
  width: auto; }

.change_item_cur_div label {
  margin-right: 20px; }

.change_item_category_div,
.change_item_subcat_div,
.change_item_producer_div {
  float: left; }
  .change_item_category_div .mdl-textfield,
  .change_item_subcat_div .mdl-textfield,
  .change_item_producer_div .mdl-textfield {
    width: auto;
    display: table;
    margin: auto; }
    .change_item_category_div .mdl-textfield label,
    .change_item_subcat_div .mdl-textfield label,
    .change_item_producer_div .mdl-textfield label {
      margin-right: 20px; }

.change_item_category_div {
  width: 18%; }

.change_item_subcat_div {
  width: 47%; }

.change_item_producer_div {
  width: 33%; }

.change_item_descript_block {
  width: 50%;
  float: left; }
  .change_item_descript_block .mdl-textfield {
    width: 100%; }

.make_spec_block,
.make_hit_block {
  float: left;
  width: 40%;
  margin-left: 120px;
  margin-top: 30px; }

.browse_img_admin {
  visibility: hidden; }

.select_img_trigger {
  margin-bottom: 20px; }

.img_preview {
  width: 50%;
  overflow: hidden;
  float: left;
  min-height: 210px;
  max-height: 210px; }

.delete_img_icon_ajax:hover {
  cursor: pointer; }

.change_item_buttons,
.change_item_delete {
  float: right; }

.clear_item_button {
  margin-right: 20px; }

.change_item_delete {
  margin-top: -150px;
  margin-right: 145px; }

.admin_articles_one {
  width: 250px;
  height: 315px;
  padding: 3px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  box-shadow: 4px 5px 17px #cecece;
  padding-right: 7px;
  padding-left: 7px;
  float: left; }
  .admin_articles_one a:hover {
    color: inherit; }
  .admin_articles_one .article_more {
    position: relative;
    width: 100%;
    float: left; }
  .admin_articles_one .img_block {
    width: 100%;
    height: 180px;
    float: left;
    overflow: hidden;
    margin-top: 5px; }
    .admin_articles_one .img_block a {
      display: table;
      margin: auto; }
    .admin_articles_one .img_block img {
      max-width: 100%;
      max-height: 180px; }
  .admin_articles_one .admin_article_date {
    font-size: 16px; }
  .admin_articles_one .admin_article_title {
    width: 100%;
    font-size: 16px;
    height: 30px;
    position: relative; }
    .admin_articles_one .admin_article_title a {
      font-size: 16px;
      color: black; }
    .admin_articles_one .admin_article_title:hover {
      text-decoration: none;
      color: black; }
      .admin_articles_one .admin_article_title:hover .admin_article_title_full {
        display: block;
        text-decoration: none;
        color: black; }
  .admin_articles_one .admin_article_title_full {
    display: none;
    top: 0px;
    position: absolute;
    background-color: #f4f4f4;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    color: black;
    text-decoration: none;
    z-index: 9999; }

.admin_main_content--change-article {
  padding: 20px; }
  .admin_main_content--change-article form {
    width: 100%; }
  .admin_main_content--change-article .admin_uni_label {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.04em; }
    .admin_main_content--change-article .admin_uni_label--subheading {
      font-size: 18px;
      width: 50%; }
  .admin_main_content--change-article .change_article_title_block {
    width: 100%; }
    .admin_main_content--change-article .change_article_title_block .mdl-textfield {
      width: 100%; }
  .admin_main_content--change-article .change_article_descript_block {
    width: 50%;
    float: left; }
    .admin_main_content--change-article .change_article_descript_block .mdl-textfield {
      width: 560px;
      padding: 0; }
      .admin_main_content--change-article .change_article_descript_block .mdl-textfield #cke_ckeditor {
        width: 546px; }
  .admin_main_content--change-article .change_article_weight_div {
    width: 50%;
    float: right; }
    .admin_main_content--change-article .change_article_weight_div .mdl-textfield {
      width: 100%; }
  .admin_main_content--change-article .img_preview {
    min-height: 140px;
    max-height: 140px;
    margin-bottom: 20px; }
    .admin_main_content--change-article .img_preview .items_item_img {
      max-height: 140px; }
  .admin_main_content--change-article .back {
    float: left; }
  .admin_main_content--change-article .save {
    float: right;
    margin-left: 20px; }
  .admin_main_content--change-article .btn_del {
    float: right;
    margin-top: 20px;
    margin-right: 141px; }

.admin_main_content--producers {
  padding: 20px;
  position: relative; }
  .admin_main_content--producers form {
    width: 100%; }
    .admin_main_content--producers form .change_item_title_block {
      width: 100%; }
      .admin_main_content--producers form .change_item_title_block .mdl-textfield {
        width: 100%; }
  .admin_main_content--producers .admin_uni_label {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.04em; }
    .admin_main_content--producers .admin_uni_label--subheading {
      font-size: 18px;
      width: 50%; }

.add_btn {
  position: fixed;
  bottom: 50px;
  right: 2%;
  z-index: 2; }
  .add_btn a {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28); }
  .add_btn:hover a {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.32); }
  .add_btn:hover, .add_btn:active, .add_btn:focus {
    outline: none; }

.producers_list {
  float: left;
  width: 25%; }
  .producers_list .admin_producer_one .admin_producer_one_form {
    float: right;
    width: auto; }
    .producers_list .admin_producer_one .admin_producer_one_form i:hover {
      cursor: pointer; }
  .producers_list .admin_producer_one .change {
    float: right; }

.admin_main_content--subcategories {
  padding: 20px; }
  .admin_main_content--subcategories .admin_one_cat_heading {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -.04em; }
  .admin_main_content--subcategories .edit:hover {
    color: inherit; }
  .admin_main_content--subcategories .admin_uni_label {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.04em; }
    .admin_main_content--subcategories .admin_uni_label--subheading {
      font-size: 18px;
      width: 50%; }

.add_subcategory {
  margin-top: -4px; }
  .add_subcategory:focus, .add_subcategory:hover, .add_subcategory:active {
    outline: none;
    color: inherit; }

.add_subcategory_modal h4 {
  font-family: "Roboto","Helvetica","Arial",sans-serif; }
.add_subcategory_modal form {
  width: 100%; }
  .add_subcategory_modal form select {
    width: 100%;
    margin-top: 10px; }
  .add_subcategory_modal form .mdl-textfield {
    width: 100%; }

.admin_catalog_category {
  width: 100%;
  float: left;
  margin-bottom: 30px; }
  .admin_catalog_category .edit,
  .admin_catalog_category .delete {
    float: right; }

.subcats_list {
  float: left;
  width: 30%;
  list-style: none; }

.admin_one_cat_heading {
  margin-bottom: 20px; }

.admin_subcategory {
  width: 80%; }

.admin_main_content--orders {
  padding: 20px; }

.one_order {
  width: 30%;
  float: left;
  margin-left: 32px;
  margin-bottom: 40px;
  height: 340px; }
  .one_order.active_client {
    width: 94.7%; }
    .one_order.active_client .order_part {
      width: 46%; }
    .one_order.active_client .client_part {
      display: table; }
      .one_order.active_client .client_part .main,
      .one_order.active_client .client_part .additional {
        width: 50%;
        float: left; }
  .one_order .title {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    width: 100%; }
  .one_order .mdl-card__supporting-text {
    width: 100%; }
  .one_order .line {
    width: 100%;
    overflow: hidden; }
    .one_order .line .heading {
      font-weight: 600;
      float: left;
      width: 30%; }
    .one_order .line .value {
      width: 70%;
      color: inherit;
      font-size: 14px; }
  .one_order .order_part {
    width: 100%;
    float: left; }
    .one_order .order_part table {
      width: 100%; }
  .one_order .client_part {
    display: none;
    width: 46%;
    float: right; }
  .one_order .about_client {
    float: right; }
  .one_order .client_less {
    display: none;
    float: right; }

.order h2 {
  width: 100%;
  margin-bottom: 30px;
  font-family: "Roboto","Helvetica","Arial",sans-serif; }
.order .delete_block {
  float: right; }
.order .items_item_descript {
  overflow: hidden; }
.order .result_block {
  width: 100%;
  overflow: hidden;
  margin-top: 30px; }
  .order .result_block p {
    font-size: 16px;
    font-weight: 600;
    font-family: "Roboto","Helvetica","Arial",sans-serif; }
.order .mdl-card {
  padding: 20px;
  display: block; }
  .order .mdl-card .mdl-card__title {
    padding-left: 0; }
.order .title {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  width: 100%; }
.order .mdl-card__supporting-text {
  width: 100%; }
.order .line {
  width: 100%;
  overflow: hidden; }
  .order .line .heading {
    font-weight: 600;
    float: left;
    width: 30%; }
    .order .line .heading.clients_order {
      width: auto;
      float: left;
      font-size: 18px;
      margin-top: 8px;
      color: #ffab40; }
  .order .line .value {
    width: 70%; }
  .order .line .value {
    color: inherit; }
.order .client_more {
  float: right; }
.order .order_part {
  width: 49%;
  float: left; }
  .order .order_part table {
    width: 100%; }
.order .client_part {
  width: 49%;
  float: right; }
  .order .client_part .main,
  .order .client_part .additional {
    width: 50%;
    float: left; }
.order .items_part {
  width: 100%;
  margin-top: 50px;
  float: left; }
  .order .items_part .final_sum_block {
    width: 100%; }
    .order .items_part .final_sum_block .general_sum {
      font-size: 18px;
      float: right;
      margin-right: 40px;
      color: #f44336;
      text-transform: uppercase; }

.mdl-card__menu a.mdl-menu__item:hover {
  color: rgba(0, 0, 0, 0.87); }

.add_state_modal .title {
  font-size: 18px; }
.add_state_modal form {
  width: 94%; }
.add_state_modal .mdl-textfield {
  width: 80%;
  float: left; }
.add_state_modal .save_state,
.add_state_modal .create_state {
  float: right;
  color: #f44336;
  margin-top: 15px; }
  .add_state_modal .save_state:hover,
  .add_state_modal .create_state:hover {
    color: #f44336;
    cursor: pointer; }
.add_state_modal .delete_state {
  float: right;
  margin-top: 15px; }
  .add_state_modal .delete_state:hover {
    color: inherit; }

.one_client {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  margin-right: 12px;
  margin-bottom: 40px;
  float: left; }
  .one_client .mdl-card__title {
    height: 90px; }
  .one_client .client_part .line {
    width: 100%;
    overflow: hidden;
    height: 50px; }
    .one_client .client_part .line .heading {
      width: 45%;
      float: left;
      font-weight: 500; }
    .one_client .client_part .line .value {
      width: 55%;
      float: right; }
    .one_client .client_part .line a.value {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.54); }
      .one_client .client_part .line a.value:hover {
        cursor: pointer;
        color: rgba(0, 0, 0, 0.54); }

.client {
  font-family: "Roboto","Helvetica","Arial",sans-serif; }
  .client h1 {
    width: 100%;
    margin-top: 0;
    margin-bottom: 30px; }
  .client .line {
    width: 100%;
    overflow: hidden; }
    .client .line .heading {
      width: 45%;
      float: left;
      font-weight: 500; }
    .client .line .value {
      width: 55%;
      float: right; }
    .client .line a.value {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.54); }
      .client .line a.value:hover {
        cursor: pointer;
        color: rgba(0, 0, 0, 0.54); }
  .client .main {
    float: left;
    width: 50%; }
  .client .history {
    float: right;
    width: 50%; }
  .client .orders {
    width: 100%;
    float: left;
    margin-top: 40px; }
    .client .orders .one_order {
      height: auto;
      width: 100%;
      margin-left: 0; }
      .client .orders .one_order .order_part {
        width: 30%; }
      .client .orders .one_order .items_part {
        width: 70%;
        float: right; }
        .client .orders .one_order .items_part .mdl-data-table td,
        .client .orders .one_order .items_part .mdl-data-table th {
          text-align: left; }

.users .one_client .mdl-card__title {
  height: 120px; }
.users .one_client .line {
  height: 50px; }
.users .one_client .line_name {
  height: 50px; }
.users .one_client .line_company {
  height: 50px; }

.pdfs {
  font-family: "Roboto","Helvetica","Arial",sans-serif; }
  .pdfs .one_pdf {
    float: left;
    margin-right: 12px;
    margin-bottom: 40px; }
    .pdfs .one_pdf .line {
      width: 100%;
      float: left;
      height: 50px; }
      .pdfs .one_pdf .line.subcat {
        height: 90px; }
      .pdfs .one_pdf .line.title {
        text-align: left;
        height: 120px; }
      .pdfs .one_pdf .line .heading_full {
        width: 100%;
        font-weight: 500;
        font-size: 15px; }
      .pdfs .one_pdf .line .heading {
        width: 45%;
        float: left;
        font-weight: 500; }
      .pdfs .one_pdf .line .value {
        width: 55%;
        float: right; }
      .pdfs .one_pdf .line a.value {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.54); }
        .pdfs .one_pdf .line a.value:hover {
          cursor: pointer;
          color: rgba(0, 0, 0, 0.54); }

.pdf .admin_uni_label {
  margin-right: 20px; }
.pdf .change_item_delete {
  margin-right: 146px;
  margin-top: 40px; }

/*# sourceMappingURL=style.css.map */
