$primary : rgb(244,67,54);
$secondary: rgb(255,171,64);
.hidden {
	display: none;
}
a {
	&:hover {
		text-decoration: none;
	}
}

.mdl-layout__drawer .mdl-navigation .active_nav {
	background-color: #e0e0e0;
	color: $primary;
}
.mdl-navigation__devider {
	height: 1px;
	width: 100%;
	background-color: #e0e0e0;
	margin-top: 3px;
	margin-bottom: 3px;
}
.main_heading {
	//margin-left: 70px;
	text-align: center;
	width: 100%;
}
.review,
.items_more_statistic_block,
.articles_more_statistic_block {
	width: 100%;
	padding-bottom: 30px;
}
.title {
	text-align: center;
}
.items,
.articles {
	width: 50%;
	float: left;
	&.only {
		width: 100%;
	}
	.mdl-button {
		display: table;
		margin: auto;
	}
}

.graph {
	display: table;
	margin: auto;
}
.items_more_statistic_block,
.articles_more_statistic_block {
	display: none;
}
.mdl-menu__item a {
	color: rgba(0,0,0,.87);
}

.one_graph {
	width: 50%;
	float: left;
	//margin-right: 3%;
	a {
		display: table;
		margin: auto;
		&:hover {
			text-decoration: none;
		}
	}
}
.mdl-list__item-secondary-action {
	&:focus {
		outline: none;
	}
}
.page_heading {
	width: 100%;
}
.latest_orders {
	padding-left: 20px;
	padding-right: 20px;
}
.card-orders {
	float: left;
	margin-bottom: 30px;
	//margin-right: 8px;
	//margin-left: 8px;
	width: 45%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	.mdl-card__supporting-text {
		width: 100%;
		table {
			width: 100%;
		}
	}
	.delete_btn {
		float: right;
	}
}
.notification_icon {
	font-size: 48px;
}
.one_notification {
	width: 15%;
	margin-left: .8%;
	margin-right: .8%;
	position: relative;
	margin-bottom: 30px;
	float: left;
	.content {
		display: table;
		margin: auto;
		color: rgba(0,0,0,.54);
		font-size: 1rem;
		line-height: 18px;
		overflow: hidden;
		padding: 16px;
		.full_block {
			width: 100%;
			float: left;
		}
	}
	.mdl-card__supporting-text {
		width: auto;
	}
	.mdl-badge {
		float: left;
	}
}
footer {
	padding: 30px 20px;
	text-align: center;
	color: #9e9e9e;
	background-color: #424242;
	p {
		margin-bottom: 0;
	}
}
.new_admins_list {
	padding: 20px 30px;
	&--users {
		font-size: 14px;
		.admin-card {
			width: 45%;
			margin-left: 2.5%;
			margin-right: 2.5%;
			float: left;
		}
	}
	&--items {
		padding: 20px 20px;
	}
}
.admin-card {
	width: 30%;
	margin-left: 1.5%;
	margin-right: 1.5%;
	float: left;
	margin-bottom: 40px;
	.mdl-card__supporting-text {
		display: table;
		margin: auto;
		table {
			width: 100%;
		}
	}
	&--articles {
		min-height: 350px;
	}
}
.new_orders_list {
	padding: 20px 30px;
	.card-orders {
		float: left;
		margin-bottom: 30px;
		//margin-right: 8px;
		//margin-left: 8px;
		width: 30%;
		margin-left: 1.5%;
		margin-right: 1.5%;
		.mdl-card__supporting-text {
			width: 100%;
			table {
				width: 100%;
			}
		}
		.delete_btn {
			float: right;
		}
	}
}

///*ARTICLES*/
.admin_article_img_container {
	//width: 150px;
	height: 150px;
	width: 100%;
}
.admin_article_min_img {
	//max-width: 150px;
	max-width: 100%;
	max-height: 150px;
	display: inline-block;
	vertical-align: middle;
	display: table;
	margin: auto;
}
.admin_article_heading {
	width: 100%;
	float: left;
	display: block;
	font-size: 16px;
	color: inherit;
	text-align: center;
}
//CATALOG
.page-content {
	.main_content {
		width: 950px;
		display: table;
		margin: auto;
		.universal_heading {
			color: $primary;
		}
		.catalog_subheading {
			background-color: $primary;
			border-color: $primary;
		}
		.catalog_hr {
			width: 99.8%;
			border-color: $primary;
		}
		.catalog_categoies {
			.catalog_category {
				width: 48%;
			}

		}
	}
}
.admin_uni_heading {
	font-size: 24px;
	color: $primary;
	margin-left: 25px;
}
.head_right {
	float: right;
	margin-right: 25px;
}
//ITEMS
.admin_producer_one_form {
	width: 100%;
}
.item_selected_checkbox {
	margin-top: 10px;
	margin-left: 10px;
	float: left;
	width: auto;
}
.admin_item_menu_trigger {
	float: right;
	margin-top: 5px;
}
.selected_quantity_fixed_main {
	height: 45px;
}
.selected_quantity_fixed {
	background-color: $secondary;
	//width: 930px;
	padding: 5px 20px;
	box-shadow: 2px 3px 7px #757171;
	.affix {
		top: 0px;
		z-index: 1000;
	}
	.selected_quantity {
		color: #fff;
		font-size: 18px;
		font-weight: bold;
	}
}
.form-control {
	display: inline-block;
	width: auto;
}
.admin_items_quantity {
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}
/*FOOTER_FIXED*/
.admin_items_footer_main {
	box-shadow: 2px 3px 7px #757171;
	margin: auto;
	margin-bottom: 30px;
}
.admin_items_footer {
	background-color: $secondary;
	padding: 15px 40px 35px 35px;
}
.admin_main_content_items {
	margin-bottom: 0px;
}
.selected_quantity {
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}
.change_items_buttons_second {
	border: 1px solid darken($secondary, 20%);
	padding: 15px 18px;
}
.change_items_buttons_first {
	@extend .change_items_buttons_second;
	margin-bottom: 25px;
}
.admin_items_footer a {
	width: 25%;
	margin-right: 40px;
}
//POP UPS FOR ITEMS
.modal-footer {
	border: none;
}
.admin_select_category_div,
.admin_select_title_div {
	width: 100%;
	margin-bottom: 20px;
	font-family: "Roboto","Helvetica","Arial",sans-serif;
	font-weight: 300;
	line-height: 1;
	letter-spacing: -.04em;
	label,
	select {
		font-family: "Roboto","Helvetica","Arial",sans-serif;
		font-weight: 300;
		line-height: 1;
		letter-spacing: -.04em;
	}
	.label_block {
		width: 20%;
		float: left;
		margin-top: 11px;
	}
}
#addToPdf {
	.form-control {
		width: 100%;
		margin-top: 20px;
	}
}

//ITEM CHANGE
.admin_items_buttons {
	a.mdl-menu__item {
		&:hover {
			color: inherit;
		}
	}
}
.admin_main_content--change-item {
	padding: 20px;
}
.mdl-textfield__label:after {
	bottom: 15px;
}
.admin_main_content--change-item {
	.admin_uni_label {
		font-family: "Roboto", "Helvetica", "Arial", sans-serif;
		font-weight: 300;
		line-height: 1;
		letter-spacing: -.04em;
		&--subheading {
			font-size: 18px;
			width: 50%;
		}
	}
	form {
		width: 100%;
	}
	.one_row {
		width: 100%;
		display: block;
		overflow: hidden;
	}


}
.change_item_title_block {
	.mdl-textfield {
		width: 100%;
	}
}
.change_item_code_block,
.change_item_price_div,
.change_item_cur_div,
.change_item_procurement_div {
	float: left;
	margin-right: 120px;
}
.change_item_procurement_div {
	margin-left: 0;
}
.change_item_procurement_div,
.change_item_cur_div {
	.mdl-textfield {
		width: auto;
	}
}
.change_item_cur_div {
	label {
		margin-right: 20px;
	}
}
.change_item_category_div,
.change_item_subcat_div,
.change_item_producer_div {
	float: left;
	.mdl-textfield {
		width: auto;
		display: table;
		margin: auto;
		label {
			margin-right: 20px;
		}
	}
}
.change_item_category_div {
	width: 18%;
}
.change_item_subcat_div {
	width: 47%;
}
.change_item_producer_div {
	width: 33%;
}
.change_item_descript_block {
	width: 50%;
	float: left;
	.mdl-textfield {
		width: 100%;
	}
}
.make_spec_block,
.make_hit_block{
	float: left;
	width: 40%;
	margin-left: 120px;
	margin-top: 30px;
}
.browse_img_admin {
	visibility: hidden;
}
.select_img_trigger {
	margin-bottom: 20px;
}
.img_preview {
	width: 50%;
	overflow: hidden;
	float: left;
	min-height: 210px;
	max-height: 210px;
}
.delete_img_icon_ajax {
	&:hover {
		cursor: pointer;
	}
}
.change_item_buttons,
.change_item_delete {
	float: right;
}
.clear_item_button {
	margin-right: 20px;
}
.change_item_delete {
	margin-top: -150px;
	margin-right: 145px;
}


//ARTICLES
.admin_articles_one {
	width: 250px;
	height: 315px;
	padding: 3px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	//overflow: hidden;
	box-shadow: 4px 5px 17px #cecece;
	padding-right: 7px;
	padding-left: 7px;
	float: left;
	a {
		&:hover {
			color: inherit;
		}
	}
	.article_more {
		position: relative;
		width: 100%;
		float: left;
	}
	.img_block {
		width: 100%;
		height: 180px;
		float: left;
		overflow: hidden;
		margin-top: 5px;
		a {
			display: table;
			margin: auto;
		}
		img {
			max-width: 100%;
			max-height: 180px;
		}
	}
	.admin_article_date {
		font-size: 16px;

	}
	.admin_article_title {
		width: 100%;
		font-size: 16px;
		height: 30px;
		position: relative;
		a {
			font-size: 16px;
			color: black;
		}
		&:hover {
			text-decoration: none;
			color: black;
			.admin_article_title_full {
				display: block;
				text-decoration: none;
				color: black;
			}
		}

	}
	.admin_article_title_full {
		display: none;
		top: 0px;
		position: absolute;
		background-color: #f4f4f4;
		border-radius: 5px;
		border: 1px solid #e6e6e6;
		color: black;
		text-decoration: none;
		z-index: 9999;
	}

}
.admin_main_content--change-article {
	padding: 20px;
	form {
		width: 100%;
	}
	.admin_uni_label {
		font-family: "Roboto", "Helvetica", "Arial", sans-serif;
		font-weight: 300;
		line-height: 1;
		letter-spacing: -.04em;
		&--subheading {
			font-size: 18px;
			width: 50%;
		}
	}
	.change_article_title_block {
		width: 100%;
		.mdl-textfield {
			width: 100%;
		}
	}
	.change_article_descript_block {
		width: 50%;
		float: left;
		.mdl-textfield {
			width: 560px;
			padding: 0;
			#cke_ckeditor {
				width: 546px;
			}
		}
	}
	.change_article_weight_div {
		width: 50%;
		float: right;
		.mdl-textfield {
			width: 100%;
		}
	}
	.img_preview {
		min-height: 140px;
		max-height: 140px;
		.items_item_img {
			max-height: 140px;
		}
		margin-bottom: 20px;
	}
	.back {
		float: left;
	}
	.save {
		float: right;
		margin-left: 20px;
	}
	.btn_del {
		float: right;
		margin-top: 20px;
		margin-right: 141px;
	}
}

//PRODUCERS
.admin_main_content--producers {
	padding: 20px;
	position: relative;
	form {
		width: 100%;
		.change_item_title_block {
			width: 100%;
			.mdl-textfield {
				width: 100%;
			}
		}
	}
	.admin_uni_label {
		font-family: "Roboto", "Helvetica", "Arial", sans-serif;
		font-weight: 300;
		line-height: 1;
		letter-spacing: -.04em;
		&--subheading {
			font-size: 18px;
			width: 50%;
		}
	}

}
.add_btn {
	position: fixed;
	bottom: 50px;
	right: 2%;
	a {
		box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
	}
	&:hover {
		a {
			box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32)
		}
	}
}
.producers_list {
	float: left;
	width: 25%;
	.admin_producer_one {
		.admin_producer_one_form {
			float: right;
			width: auto;
			i {
				&:hover {
					cursor: pointer;
				}
			}
		}
		.change {
			float: right;
		}
	}
}

